<div class="row padder"></div>

<div class="row">
    <div class="column column-30"></div>
    <div class="column column-40" id="main">
        <%- include('_top'); %>
        <%- include('_bot'); %>
    </div>
    <div class="column column-30"></div>
</div>