<div class="row padder"></div>

<div class="row">
    <div class="column column-30"></div>
    <div class="column column-40" id="main">
        <div class="row"><%- include('_top'); %></div>
        <div class="row"><%- include('_bot'); %></div>
    </div>
    <div class="column column-30"></div>
</div>