<div class="container fade-up">
    <div class="row padder">
        <div class="column column-20"></div>
        <div class="column column-60" id="main">
            <div class="row"><%- include('_top'); %></div>
            <div class="row"><%- include('_bot'); %></div>
        </div>
        <div class="column column-20"></div>
    </div>
</div>