<div class="column column-25" id="img">
    <img src="https://avatars2.githubusercontent.com/u/6530081?v=3&u=c740a1b6c1892c06aacf3f4b33f67d4aa250d085" style="width: 100%; max-width: 250px; max-height: 250px;"/>
</div>

<!-- iPhone 6 fix... -->
<br>
<br>
<br>

<div class="column column-75" id="text">
    <h1>Kevin Bohinski</h1>
    <p>I am a senior at The College of New Jersey.</p>
    <p>I study Computer Science, and Interactive Multimedia.</p>
    <p>I love to learn and have a variety of <span class="hint--bottom hint--large hint--bounce"
                                                   aria-label="Artificial Intelligence, Machine Learning, Cloud Computing, Web Apps, Graphics, Security, and Computational Music."><span
                    class="hover">interests</span></span>.</p>
    <p>I have worked at <a target="_blank" href="https://www.pubnub.com/"><span class="hint--bottom hint--bounce hover"
                                                                                aria-label="1/4 second!">PubNub</span></a>.
    </p>
    <p>I have a few <a id="btn-projects" class="hover" href="#">projects</a> I'm proud of.</p>
    <br>
    <p>Take a look at my <a target="_blank" href="/resume.pdf" class="hover">resume</a>.</p>
    <p>Let's <a target="_blank" href="mailto:bohinsk1@tcnj.edu" class="hover">get in touch</a>.</p>

    <br>
    <%- include('_socials'); %>
</div>