doctype html
html

    head
        meta(charset='utf8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
        meta(name="viewport" content="width=device-width, initial-scale=1")

        meta(name='description', content='Kevin Bohinski')
        meta(name='author', content= "https://keybase.io/kbohinski")
        title= 'Kevin Bohinski'

        | <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.min.css">
        | <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
        | <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hint.css/2.3.1/hint.min.css">
        | <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        != css()

    body
        block content

        | <script src="https://use.typekit.net/vug7ida.js"></script>
        | <script>try{Typekit.load({ async: true });}catch(e){}</script>
        | <script src="https://cdn.rawgit.com/lukelex/fader.js/master/fader.min.js"></script>
        | <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/smooth-scroll/10.0.0/js/smooth-scroll.min.js"></script>
        != js()