doctype html
html

    head
        meta(charset='utf8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
        meta(name="viewport" content="width=device-width, initial-scale=1")

        meta(name='description', content='Kevin Bohinski')
        meta(name='author', content= "https://keybase.io/kbohinski")
        title= 'Kevin Bohinski'

        meta(http-equiv='refresh', content="0; url=https://medium.com/@kboh/using-powerful-machine-learning-from-ibm-watson-to-empower-users-to-self-diagnose-common-ailments-b93dfc1a3543")

    body
