---
title: 'HackTCNJ 2016 Site'
link: 'https://www.github.com/kbohinski/hack-tcnj-2016-site'
date: 'Spring 2016'
---

:marked
    Our hacker management system for HackTCNJ.
    Using PHP, the site integrated with MyMLH, TCNJ’s Authentication, MailChimp, and Slack.
    The site automatically managed the waitlist, had a robust administrative interface for organizers,
    and allowed hackers to edit their application.