---
title: 'chronicel'
link: 'https://www.github.com/kbohinski/chronicel'
date: 'Spring 2017'
---

:marked
    Our hacker management system for HackTCNJ. chronicel is built on Flask and MySQL, and integrates with MyMLH, MailChimp, MailGun, PubNub, and Slack. The site automatically managed the waitlist, and had a robust administrative interface.