---
title: 'Med-Echo'
link: 'https://devpost.com/software/med-echo'
date: 'Fall 2016'
---

:marked
  An Amazon Alexa medical assistant made with AWS Lambda and Node.js. Via the FDA and Twilio APIs Med-Echo provides intelligent assistance for the user. Built at HackRU and won two prizes.
