---
title: 'Diagnose Me'
link: 'http://www.kevinbohinski.com/diagnoseme'
date: 'Spring 2016'
---

:marked
    A functional prototype of an SMS public health application.
    Using Twilio, Node.js, IBM’s Bluemix Cloud, and IBM’s Watson APIs,
    we created an SMS interface to an automated triage engine.