---
title: 'gitRecommender'
link: 'https://www.github.com/caneroj1/gitRecommender'
date: 'Spring 2015'
---

:marked
    A GitHub recommendation system built in Java using Tomcat.
    It relies upon k-NN and Machine Learning Decision Trees in order to
    come up with open-source repository recommendations that the
    user would potentially be interested in.